<!DOCTYPE html>	
	<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header"></head>

<body class="px-4">
	<div class="panel panel-default" style="margin: 10px">
		<div class="card card my-1">
			<div class="card-header">
				<h1 class="card-title">Cadastrar Serie</h1>
			</div>
			<form >
			</form>
			</div>
			<div class="card card my-1">
			<div class="card-header">
				<h1 class="card-title">Series Cadastradas</h1>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Serie</th>
						<th>Repeticoes</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>