<!DOCTYPE html>	
	<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header">
  
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="https://peakfitness14.files.wordpress.com/2014/10/chicken-legs.jpg" width="60" height="60" class="d-inline-block align-top" alt=""> BIR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/alunos">Alunos</a>
      <a class="nav-item nav-link" href="/resultados">Resultados</a>
      <a class="nav-item nav-link disabled" >Exercicios</a>
    </div>
  </div>
</nav>
<body class="px-4">
	<div class="panel panel-default" style="margin: 10px">
		<div class="card card my-1">
			<div class="card-header">
				<h1 class="card-title">Cadastrar Aluno</h1>
			</div>
			<form class="form-inline" method="POST" th:action="@{/alunos}"
				th:object="${aluno}" style="margin: 20px 0">
				<div class="form-group">
					<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="nome"
						th:field="*{nome}" placeholder="Nome" />
						<input class="form-control mb-2 mr-sm-2 mb-sm-0" type="number" value="42" id="cpf" th:field="*{cpf}" placeholder="cpf">
					<input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="endereco"
						th:field="*{endereco}" placeholder="Endereço" /> <input
						type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="data_nascimento"
						th:field="*{data_nascimento}" placeholder="Data de Nascimento" />
					<input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" id="email"
						th:field="*{email}" placeholder="Email" /> <input type="text"
						class="form-control mb-2 mr-sm-2 mb-sm-0" id="telefone" th:field="*{telefone}"
						placeholder="telefone" />
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form>
			</div>
			
			<div class="card card my-1">
			<div class="card-header">
				<h1 class="card-title">Alunos Cadastrados</h1>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>CPF</th>
						<th>Endereço</th>
						<th>Data Nascimento</th>
						<th>Email</th>
						<th>Telefone</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="aluno : ${alunos}">
						<td th:text="${aluno.nome}"></td>
						<td th:text="${aluno.cpf}"></td>
						<td th:text="${aluno.endereco}"></td>
						<td th:text="${aluno.data_nascimento}"></td>
						<td th:text="${aluno.email}"></td>
						<td th:text="${aluno.telefone}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>